:root {
    --white: #FFFFFF;
    --Red: #D30000;
    --green: #007F00;
    --bleu: #25213B;
    --blue-marguerite: #6D5BD0;
    --Kimberly: #6E6893;
    --lavender-purple: #8B83BA;
    --lavender-gray: #C6C2DE;
    --snuff: #DAD7EA;
    --white-lilac: #F2F0F9;
    --titan-white: #F4F2FF;
    --pirate-gold: #CE8500;
    --sandy-beach: #FFECCC;
    --chelsea-gem: #965E00;
    --pippin: #FFE0E0;
    --overlay: #000000b1;
    --black: #000000;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}


.flex-center {
    display: flex;
    align-items: center;
    gap: 20px;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.flex-content-center {
    display: flex;
    justify-content: center;
}

.d-flex {
    display: flex;
    align-items: flex-start;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.body {
   background-color: var(--snuff);
   font-family: "Inter", sans-serif;
   padding-bottom: 100px;
}

.heading {
    padding: 30px 0 10px;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.font-14 {
    font-size: 14px;
}

.font-12 {
    font-size: 12px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-600 {
    font-weight: 600;
}


.font-400 {
    font-weight: 400;
}

.kimberly-text-color {
    color: var(--Kimberly);
}

.lavender-purple-color {
    color: var(--lavender-purple);
}


.bg-white {
    background-color: var(--white);
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.left-text {
  text-align: left;
}

.center-text {
    text-align: center;
}

.main-list {
    list-style: none;
}

.sub-list{
    margin: 0 20px;
}

.cursor-pointer {
    cursor: pointer;
}

.base-button {
  border: none;
  background-color: transparent;
}

.border-bottom {
    border-bottom: 2px solid var(--snuff);
}

.hr {
    border: none;
    border-top: 2px solid var(--snuff);
}

.border-gray {
    border-color: var(--lavender-gray);
}

.base-border {
    border: 2px solid var(--lavender-gray)
}

.radius-50 {
    border-radius: 50px;
}

.active-border {
    border: 2px solid var(--blue-marguerite);
}

.strong {
    color: var(--blue-marguerite);
}

.p-relative {
    position: relative;
}

.active {
    color: var(--bleu);
    font-weight: 600;
}

.active::after {
    content: "";
    position: absolute;
    border-bottom: 3px solid var(--bleu);
    width: 50px;
    height: 60px;
    bottom: 100%;
    top: 0;
    right: 30%;
    transform: translate(20px, -32px);
}

.hidden {
    display: none;
}

.d-block {
    display: block;
}

.padding-5 {
   padding: 5px;
}

.mr-15 {
    margin-right: 15px;
}

.pr-25 {
    padding-right: 25px;
}

.mb-10 {
    margin-bottom: 10px;
}

.pb-5 {
    padding-bottom: 5px;
}

.overflow-hidden {
    overflow: hidden;
}

.card-bttns{
    padding-right: 45px;
    width: 100%;
  }
  
.hover-bg:hover {
   background-color: var(--white-lilac);
   border-radius: 5px;
 }

.header-navigation {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.filter-btn {
    padding: 8px 15px 10px 5px;
    border-radius: 8px;
}

.filter-table {
  padding: 10px 20px;
}

.fa-filter {
    padding: 0 5px 0 10px;
}

.filter-crud {
    padding: 10px;
    width: 200px; 
    border-radius: 10px;
    border: 2px solid var(--lavender-gray);
    position: absolute;
    z-index: 1;
    transform: translateY(-20px);
    margin: 15px 0 0 15px;
}

.filter-list {
    padding: 5px;
}

  input[type=radio] {
    accent-color: var(--blue-marguerite);
  }

  .search-bar {
    width: 392px;
    height: 40px;
    background-color: var(--titan-white);
    padding: 10px 0 0 15px;
    border-radius: 10px;
  }

  .search-bar input[type=text] {
    border: none;
    background-color: inherit;
    outline: none;
    margin-left: 5px;
  }

  ::placeholder {
    color: var(--lavender-purple);
 }

 .pay-dues-bttn {
    background-color: var(--blue-marguerite);
    color: var(--white);
    padding: 10px;
    border-radius: 10px;
 }

 .cell-padding {
    padding: 10px 5px;
 }
 
.table-container {
    width: 100%;
    border-collapse: collapse;
}

.view-more-button:hover {
   color: var(--black);
}

.more-card {
    padding: 5px;
    border-radius: 10px;
}

.card-container {
    position: absolute;
    transform: translateY(-12px);
    left: 74%;
    z-index: 3;
}

.remove-card {
    transform: translate(-10px, -10px);
    box-shadow: 0px -1px 5px -2px rgba(0,0,0,0.75);
    background-color: var(--white);
    padding: 3px;
}

.activate-user-bttn {
    margin-bottom: 10px;
    color: var(--green);
}

.delete-bttn {
    margin-top: 10px;
    color: var(--Red);
}

.drop-down-bttn {
    border: 2px solid var(--Kimberly);
    padding: 2px;
}


 .modal-content {
    width: 580px;
    height: 400px;
    border-radius: 10px;
    padding: 18px 10px 15px;
    position: absolute;
    top: 40%;
    transform: translateY(-15%);
    z-index: 1;
    border: none;
    margin: 0 auto;
}

.modal-content5::backdrop {
    background-color: var(--overlay);
}

.close-button:hover {
  color: var(--blue-marguerite);
}

.update-user {
  background-color: var(--blue-marguerite);
  color: var(--white);
  width: 100%;
  padding: 10px 0;
  border-radius: 15px;
}

.update-user:hover {
    background: linear-gradient(135deg, #4267B2 0%, #6a11cb 100%)
}

.modal-input {
    border-radius: 22px;
    margin: 5px 0 20px;
    width: 220px;
    height: 38px;
    padding: 0 5px;
    outline: none;
    background-color: var(--snuff);
}


.table-pages {
    padding: 15px 0;
}

.select-num-page {
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: inherit;
    border: none;
    outline: none;
    width: 60px;
    position: relative;
    padding-right: 8px;
    z-index: 1;
}

.rows-per-page::after {
    content: "\F229"; 
    position: absolute;
    font-family: 'bootstrap-icons';
    width: 20px;
    height: 20px;
    color: var(--Kimberly);
    font-size: 16px;
    transform: translateX(-30px);
}


