:root {
    --white: #FFFFFF;
    --Red: #D30000;
    --green: #007F00;
    --bleu: #25213B;
    --blue-marguerite: #6D5BD0;
    --Kimberly: #6E6893;
    --lavender-purple: #8B83BA;
    --lavender-gray: #C6C2DE;
    --snuff: #DAD7EA;
    --white-lilac: #F2F0F9;
    --titan-white: #F4F2FF;
    --pirate-gold: #CE8500;
    --sandy-beach: #FFECCC;
    --chelsea-gem: #965E00;
    --pippin: #FFE0E0;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}


.flex-center {
    display: flex;
    align-items: center;
    gap: 20px;
}


.d-flex {
    display: flex;
}

.body {
   background-color: var(--snuff);
   font-family: "Inter", sans-serif;
}

.heading {
    padding: 30px 0 10px;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.font-14 {
    font-size: 14px;
}

.font-12 {
    font-size: 12px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-600 {
    font-weight: 600;
}

.font-400 {
    font-weight: 400;
}

.kimberly-text-color {
    color: var(--Kimberly);
}

.lavender-purple-color {
    color: var(--lavender-purple);
}

.bg-white {
    background-color: var(--white);
}

.left-text {
  text-align: left;
}

.main-list {
    list-style: none;
}

.sub-list{
    margin: 0 20px;
}

.base-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.border-bottom {
    border-bottom: 2px solid var(--lavender-gray);
}

.base-border {
    border: 2px solid var(--lavender-gray);
}

.red {
    color: red;
}

.active-border {
    border: 2px solid var(--blue-marguerite);
}

.strong {
    color: var(--blue-marguerite);
}

.active {
    color: var(--bleu);
    font-weight: 600;
    position: relative;
}

.active::after {
    content: "";
    position: absolute;
    border-bottom: 3px solid var(--bleu);
    width: 50px;
    height: 60px;
    bottom: 100%;
    top: 0;
    right: 30%;
    transform: translate(20px, -32px);
}

.hidden {
    display: none;
}

.d-block {
    display: block;
}

.header-navigation {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.filter-btn {
    padding: 8px 15px 10px 5px;
    border-radius: 8px;
}

.filter-table {
  padding: 10px 20px;
}

.fa-filter {
    padding: 0 5px 0 10px;
}

.filter-crud {
    padding: 10px;
    width: 200px; 
    border-radius: 10px;
    border: 2px solid var(--lavender-gray);
    position: absolute;
    z-index: 1;
    transform: translateY(-20px);
    margin: 15px 0 0 15px;
}

.filter-list {
    padding-top: 10px;
}

.filter-list:hover {
    background-color: var(--white-lilac);
    border-radius: 5px;
  }

  input[type=radio] {
    accent-color: var(--blue-marguerite);
  }

  .search-bar {
    width: 392px;
    height: 40px;
    background-color: var(--titan-white);
    padding: 10px 0 0 15px;
    border-radius: 10px;
  }

  .search-bar input[type=text] {
    border: none;
    background-color: inherit;
    outline: none;
    margin-left: 5px;
  }

  ::placeholder {
    color: var(--lavender-purple);
 }


 .pay-dues-bttn {
    background-color: var(--blue-marguerite);
    color: var(--white);
    padding: 10px;
    border-radius: 10px;
 }

 .cell-padding {
    padding: 10px 5px;
 }
 
.table-container {
    width: 100%;
    padding: 0 15px;
    border-collapse: collapse;
}


